VITE_SUPABASE_URL=https://wdzdtnrmdxgyoxuaqpbp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkemR0bnJtZHhneW94dWFxcGJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2Mzk1MTAsImV4cCI6MjA5NjIxNTUxMH0.BfMOhG-vGIfGE4oJ84pL-9u9BC1tMYqX7KLfQF-xtgg
